<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
    <link rel="stylesheet" type="text/css" href="../static/style/reg-auto.css">
    <title>Авторизация</title>
</head>
<body>
    <div class="main-div">
        <form action="/enter_to_acc" name="form-enter" method="POST" onsubmit="return validateForm()">
            <label>Войти в аккаут</label>
            <input type="text" name="login" id="login" placeholder="login">
            <div class="pas-block">
                <input type="password" name="password" id="password1" placeholder="password" class="password">
                <button type="button" onClick="swap('img_eye')" id="eye1" class="eye"><img src="../static/img/eye_close.png" id="img_eye" alt="eye"/></button>
            </div>
            <input type="submit" href="/enter_to_acc" value="Войти">
        </form>
        <div class="reg"><a href="/registration">У вас ещё нет аккаунта?</a></div>
        {{ if . }}
        <div id="uncorrect-login">Введены не верные данные!</div>
        {{ end }}
    </div>

    <script type="text/javascript" src="../static/script/showPassword.js"></script>
    <script type="text/javascript" src="../static/script/swap.js"></script>
    <script>
        function validateForm() {
            var login = document.forms["form-enter"]["login"].value;
            var password = document.forms["form-enter"]["password"].value;
            if (login == "" || password == "") {
                alert("Полностью заполните форму");
                return false;
            }
        }
    </script>

</body>
</html>