<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
    <link rel="stylesheet" type="text/css" href="../static/style/main-style.css">
    <link rel="stylesheet" type="text/css" href="../static/style/index-style.css">
    <title>Типа аля сайтик</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"><a href="/index"><img src="../static/img/logo.png" alt="logo"></a></div>
            <nav>
                <ul>
                    <li><a href="/index">Главная</a></li>
                    <li><a href="/settings_user">Настройки</a></li>
                    <li><a href="/contact">Контакты</a></li>
                    <li><a href="/about_us">О нас</a></li>
                </ul>
            </nav>
        </div>
        <div class="user-container">
            {{ if .Person.Success }}
            <div class="btn-created-post"><a href="/post_page"><img src="../static/img/plus.png" alt="создать"></a></div>
            <a href="/settings_user"><div class="user-png">{{ if .Person.Img }}<img src="../static/img/profile_img/{{ .Person.Login }}.jpg" alt="user">{{ else }}<img src="../static/img/profile_img/user.jpg" alt="user">{{ end }}</div>
            <div class="name-user">{{ .Person.Login }}</div></a>
            {{ else }}
            <a href="/registration"><div class="user-png"><img src="../static/img/profile_img/user.jpg" alt="user"></div>
            <div class="name-user">Unnamed</div></a>
            {{ end }}
        </div>
    </header>

    <main>
        <div class="container">
            {{ if .Person.Success }}
            <div class="welcome-user">Добро пожаловать,&nbsp<a href="/settings_user">{{ .Person.Login }}</a></div>
                {{ range .Posts }}
                <div class="post-box">
                    <div class="post-head"><img src="../static/img/profile_img/{{ .LoginAuthor }}.jpg" alt="автор:"><span class="login">{{ .LoginAuthor }}</span></div>
                    <div class="post-body"><h2>{{ .NamePost }}</h2><span class="text">{{ .Text }}<span></div>
                        {{ if eq .LoginAuthor $.Person.Login }}
                        <div class="btn-edit-delete">
                            <form method="POST" action="/deleted_post">
                                <input type="hidden" id="number" name="number" value="{{ .Id }}">
                                <button class="btn-del" type="submit"><span class="">Удалить</span></button>
                            </form>
                        </div>
                        {{ end }}
                </div>
                {{ else }}
                <div>Статей нет!</div>
                {{ end }}

            {{ else }}
            <div>Ошибка авторизации.&nbsp<a href="/authorization">Нажмите</a>, чтобы войти в аккаут.</div>
            {{ end }}
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="contact">
                <p>Created by <a href="/contact">Kirill Basmanov</a></p>
            </div>
        </div>
    </footer>
</body>
</html>