<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
    <link rel="stylesheet" type="text/css" href="../static/style/main-style.css">
    <link rel="stylesheet" type="text/css" href="../static/style/reg-auto.css">
    <link rel="stylesheet" type="text/css" href="../static/style/settings_user.css">
    <title>Настройки аватарки</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"><a href="/index"><img src="../static/img/logo.png" alt="logo"></a></div>
            <nav>
                <ul>
                    <li><a href="/index">Главная</a></li>
                    <li><a href="/settings_user">Настройки</a></li>
                    <li><a href="/contact">Контакты</a></li>
                    <li><a href="/about_us">О нас</a></li>
                </ul>
            </nav>
        </div>
        <div class="user-container">
            <div id="id-column">
                {{ if .Success }}
                <a href="/settings_user"><div class="user-png">{{ if .Img }}<img src="../static/img/profile_img/{{ .Login }}.jpg" alt="user">{{ else }}<img src="../static/img/profile_img/user.jpg" alt="user">{{ end }}</div>
                <div class="name-user">{{ .Login }}</div></a>
                {{ else }}
                <a href="/registration"><div class="user-png"><img src="../static/img/profile_img/user.jpg" alt="user"></div>
                <div class="name-user">Unnamed</div></a>
                {{ end }}
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            {{ if .Success }}
            <div class="block-form">
                <form method="POST" action="/update_img" enctype="multipart/form-data">
                    <label for="file-input">Загрузить аватарку</label>
                    <input type="file" name="file_input" id="file_input">
                    <input type="submit" href="/update_img" value="Сохранить">
                </form>
            </div>
            <div class="btn-acc-center"><a id="exit-acc" href="/settings_user">Отмена</a></div>
            {{ else }}
            <div>Ошибка авторизации.&nbsp<a href="/authorization">Нажмите</a>, чтобы войти в аккаут.</div>
            {{ end }}
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="contact">
                <p>Created by <a href="/contact">Kirill Basmanov</a></p>
            </div>
        </div>
    </footer>

    
    <script type="text/javascript" src="../static/script/showPassword.js"></script>
    <script type="text/javascript" src="../static/script/swap.js"></script>
</body>
</html>