.container {
    display: flex;
    justify-content: center;
}

body {
    overflow: visible;
}

main .container {
    align-items: center;
    flex-direction: column;
}

.welcome-user {
    justify-content: center;
    display: flex;
    font-size: 32px;
    width: 650px;
    height: 128px;
    align-items: center;
}

.welcome-user a {
    color: white;
    text-decoration: none;
    transition: all ease-in 0.15s;
}

.welcome-user a:hover {
    color: rgb(216, 198, 198);
}

.post-box img {
    width: 50px;
    border-radius: 50%;
}

.post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    max-width: 700px;
    background-color: #161616;
    border-radius: 50px;
    padding: 20px;
    margin: 15px auto;
}

.post-head {
    width: 100%;
    display: flex;
    align-items: center;
}

.post-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    margin: 0px 0px 0px 5px;
}

.text {
    text-align: justify;
    font-size: 18px;
}

.btn-edit-delete {
    width: 100%;
    display: flex;
    justify-content: right;
}

.btn-edit-delete form {
    margin: 30px 10px 0 0;
}

.btn-del, .btn-set {
    display: inline-block;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    font-weight: 100;
    cursor: pointer;
    transition: all ease-in 0.15s;
}

.btn-del {
    background: #b13030;
}

.btn-del:hover {
    background-color: #912626;
}

.btn-set {
    background: #5360a6;
}

.btn-set:hover {
    background: #323963;
}

.btn-created-post {
    display: flex;
    align-items: center;
    margin: 10px;
    transition: all ease-in 0.15s;
}

.btn-created-post:hover {
    filter: brightness(0.7);
}